*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Helvetica;
}

img {
  margin: auto;
  max-width: 50%;
  display: block;
}

ul, li {
  margin: 0;
  list-style: none;
  padding-left: 2px;
}

.CodeMirror {
  flex: 0 1 auto;
  padding: 0 5px;
  height: 100%;
  font-size: 16px;
}

.CodeMirror pre {
}
